
form{
    width: 20vw;
    height: 10vw;
    background-color: rgba(156, 227, 161, 0.982);
    padding: 20px;
    border: 8px rgb(255, 255, 255) ;
    border-style: double;
}
div{
    margin-top: 10px;

}
button{
    margin-top: 25px;
    
}

